.body__button {
  margin-top: 2em;
  height: fit-content;
  button {
    background-color: black;
    color: white;
    padding: 1.2em;
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    &:hover {
      transition: 0.5s ease-in-out;
      transform: translateY(-5%);
    }
  }
  span {
    color: grey;
  }
}
